@import "src/assets/setup/mixins";
@import "src/assets/setup/variables";

:host {
    
    
    .post-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        
        
        .post-header {
            display: flex;
            align-items: center;
            gap: .5em;
            color: whitesmoke;
            padding-inline: 1.5em;
            
            @include for-narrow-layout {
                padding-inline: unset;
            }
            
            img {
                border-radius: 50%;
                width: 40px;
                border: none;
            }
            
            h5 {
                display: flex;
                align-items: center;
                gap: .4em;
                
                span {
                    color: #919191;
                    font-weight: normal;
                }
            }
        }
        
        img {
            
            @include for-narrow-layout {
                border-radius: .2em;
                border: 1px solid rgba(245, 245, 245, 0.44);
            }
        }
        
        .post-card-inner-container {
            padding-inline: 1.5em;
            display: flex;
            flex-direction: column;
            gap: .8em;
            
            @include for-narrow-layout {
                padding-inline: unset;
            }
            
            .actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .like-comment-share {
                    display: flex;
                    align-items: center;
                    gap: 1.5em;
                    
                    svg {
                        cursor: pointer;
                    }
                }
                
                .save {
                    display: flex;
                    
                    svg {
                        cursor: pointer;
                    }
                }
            }
            
            .liked-by-users {
                display: flex;
                align-items: center;
                gap: .5em;
                font-size: 14px;
                
                
                img {
                    width: 20px;
                    border-radius: 50%;
                    border: none;
                }
                
                p {
                    
                    .username {
                        cursor: pointer;
                        font-weight: bolder;
                    }
                    
                    .other-users {
                        cursor: pointer;
                        font-weight: bolder;
                    }
                }
            }
        }
        
        .content {
            display: flex;
            align-items: center;
            
            p {
                .creatorFullName {
                    font-weight: bold;
                    font-size: 13px;
                    color: whitesmoke;
                    cursor: pointer;
                }
                
                .btn-more {
                    border: none;
                    background-color: transparent;
                    color: #919191;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
        
    }
}