@import "../../../assets/setup/mixins";

:host {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding-block-start: 3.8em;
    overflow: auto;

    @include for-narrow-layout {
        padding-block-start: unset;
        min-width: auto;
        max-width: 500px;
        overflow: unset;
        display: grid;
        align-content: center;
    }

    .comment-modal {
        position: relative;
        padding-block-start: 1.5em;
        height: 100%;
        display: grid;
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 1fr auto;

        @include for-narrow-layout {
            min-width: auto;
            max-width: 500px;
            grid-template-rows: 1fr auto;
            height: calc(100vh - 50px);
            overflow: auto;
            padding-block-start: unset;
        }

        & > * {
            grid-column: 2;
        }

        .btn-close {
            position: fixed;
            background-color: #000000;
            cursor: pointer;
            border: none;
            padding-inline: 0.5em;
            padding-block-end: 0.5em;
            right: 20px;
            top: 85px;
            z-index: 40;

            @include for-narrow-layout {
                position: sticky;
                right: 0;
                top: 0;
                grid-column: 3;
                padding-inline: unset;
                padding-block-end: unset;
                grid-row: 1;
                align-self: start;
            }
        }

        .comments {
            height: 100%;

            @include for-narrow-layout {
                grid-column: 1/-1;
                grid-row: 1/2;
            }
        }

        .comment-list {
            height: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 2.5em;
                padding-block-end: 5.5em;
                height: 100%;

                @include for-narrow-layout {
                    padding-block-end: 2em;
                }
            }
        }

        form {
            display: flex;
            align-items: center;
            gap: 1em;
            height: 60px;
            position: sticky;
            bottom: 60px;
            background-color: #000;
            border-block-start: 1px solid rgba(255, 255, 255, 0.24);
            grid-column: 1/-1;
            padding-inline: 25px;
            z-index: 120;

            @include for-narrow-layout {
                bottom: 0;
                border-block-end: 1px solid rgba(255, 255, 255, 0.24);
                grid-row: 3;
            }

            img {
                width: 2em;
                border-radius: 50%;
            }

            input {
                flex: 3;
                height: 100%;
                border: none;
                color: whitesmoke;
                background-color: #000000;
                font-size: 16px;

                &::placeholder {
                    color: whitesmoke;
                    font-family: Arial, sans-serif;
                    background-color: #000000;
                }
            }

            button {
                flex: 1;
                height: 100%;
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: rgb(0, 149, 246);
                font-size: 17px;
                font-weight: bolder;
                text-align: right;
            }
        }

        .hiding-flach {
            display: none;
            background-color: black;
            grid-column: 1/-1;
            position: sticky;
            bottom: 0;
            left: 0;
            height: 24px;
            grid-row: 4;
            z-index: 120;

            @include for-narrow-layout {
                display: block;
            }
        }
    }
}
