:host {
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding-block-start: 3.8em;
    overflow: auto;

    .comment-modal {
        position: relative;
        padding-block-start: 1.5em;
        height: 100%;
        display: grid;
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 1fr auto;

        & > * {
            grid-column: 2;
        }

        .btn-close {
            position: fixed;
            background-color: #000000;
            cursor: pointer;
            border: none;
            padding-inline: 0.5em;
            padding-block-end: 0.5em;
            right: 20px;
            top: 85px;
            z-index: 40;
        }

        .comments {
            height: 100%;
        }

        .comment-list {
            height: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 2em;
                padding-block-end: 5.5em;
                height: 100%;

                .comment {
                    display: flex;
                    align-items: flex-start;
                    gap: 0.6em;

                    img {
                        width: 30px;
                        border-radius: 50%;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        .inner-container {
                            display: flex;
                            align-items: center;
                            gap: 0.4em;

                            .fullname {
                                font-size: 12px;
                                font-weight: bolder;
                            }

                            .created-at {
                                color: #919191;
                                font-size: 13px;
                            }
                        }

                        button {
                            background-color: #000000;
                            border: none;
                            color: whitesmoke;
                            width: fit-content;
                            padding-inline-end: 0.8em;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        form {
            display: flex;
            align-items: center;
            gap: 1em;
            height: 3.5em;
            position: sticky;
            bottom: 60px;
            background-color: #000;
            border-block-start: 1px solid rgba(255, 255, 255, 0.24);
            grid-column: 1/-1;
            padding-inline: 25px;

            img {
                width: 2em;
                border-radius: 50%;
            }

            input {
                flex: 3;
                height: 100%;
                border: none;
                color: whitesmoke;
                background-color: #000000;
                font-size: 16px;

                &::placeholder {
                    color: whitesmoke;
                    font-family: Arial, sans-serif;
                    background-color: #000000;
                }
            }

            button {
                flex: 1;
                height: 100%;
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: rgb(0, 149, 246);
                font-size: 17px;
                font-weight: bolder;
                text-align: right;
            }
        }
    }
}
