<section *ngIf="posts" class="home-page">
    <post-list
        *ngIf="posts.length; else noPostsTemplate"
        (onToggleLike)="onToggleLike($event)"
        (onToggleFollow)="onToggleFollow($event)"
        (onAddNotification)="onAddNotification($event)"
        (onAddComment)="onAddComment($event)"
        [posts]="posts"
    ></post-list>

    <ng-template #noPostsTemplate>
        <div class="page-cmp-layout">
            <p>
                No posts to show! <br />
                <span (click)="navigateToCreatePost()"
                    >Let's upload your first post.</span
                >
            </p>
        </div>
    </ng-template>
</section>
