@import "src/assets/setup/mixins";

:host {
    position: relative;
    grid-column: 1;
    width: 75px;
    display: none;

    @include for-narrow-layout {
        display: block;
    }

    .aside-menu {
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-inline-end: 1px solid rgba(245, 245, 245, 0.19);
        padding-block: 1.5em;
        width: 100%;

        .aside-menu-inner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3.5em;
            width: 100%;

            .logo {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.8em;
                border-radius: 0.4em;

                &:hover {
                    background-color: rgba(229, 229, 229, 0.11);
                }
            }

            nav {
                width: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    width: 100%;

                    li {
                        cursor: pointer;
                        padding: 0.8em;
                        display: flex;
                        border-radius: 0.4em;
                        justify-content: center;
                        align-items: center;
                        width: 70%;

                        img {
                            border-radius: 50%;
                        }

                        &.active {
                            svg {
                                path {
                                    &:nth-child(1) {
                                        fill: rgb(245, 245, 245);
                                    }

                                    &:nth-child(2) {
                                        fill: rgb(0, 0, 0);
                                    }
                                }

                                line {
                                    stroke: rgb(0, 0, 0);
                                }
                            }
                        }

                        &.profile.active {
                            border: 1px solid rgba(245, 245, 245, 0.46);
                        }

                        &:hover {
                            background-color: rgba(229, 229, 229, 0.11);
                        }
                    }
                }
            }
        }

        .extra-menu {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8em;
            border-radius: 0.4em;
            position: relative;

            &:hover {
                background-color: rgba(229, 229, 229, 0.11);
            }

            .extra-menu-modal {
                background-color: #343434;
                color: whitesmoke;
                padding: 0.5em;
                border-radius: 1em;
                position: absolute;
                bottom: 0;
                left: 55px;
                width: 250px;

                ul {
                    li {
                        padding: 0.4em;
                        border-radius: 0.4em;

                        &:hover {
                            background-color: rgba(229, 229, 229, 0.11);
                        }
                    }
                }
            }
        }
    }
}
