@import "src/assets/setup/variables";
@import "src/assets/setup/mixins";

:host {
    position: sticky;
    bottom: 0;
    z-index: 99;
    grid-column: 1/-1;
    height: 60px;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    align-items: center;
    border-block-start: 1px solid rgba(255, 255, 255, 0.24);

    & > * {
        grid-column: 2;
    }

    @include for-narrow-layout {
        display: none;
    }

    .menu-mobile {
        .menu-mobile-inner-container {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    cursor: pointer;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        border-radius: 50%;
                    }

                    &.active {
                        svg {
                            path {
                                &:nth-child(1) {
                                    fill: #ffffff;
                                }

                                &:nth-child(2) {
                                    fill: #000000;
                                }
                            }

                            line {
                                stroke: #000000;
                            }
                        }
                    }

                    &.profile.active {
                        border: 2px solid rgba(255, 255, 255, 0.66);
                        border-radius: 50%;
                    }

                    &.extra-menu {
                        position: relative;

                        .extra-menu-modal {
                            position: absolute;
                            bottom: 50px;
                            right: 10px;
                            z-index: 98;
                            background-color: rgb(38, 38, 38);
                            width: 200px;
                            border-radius: 0.4em;
                            padding-block: 0.5em;
                            color: whitesmoke;
                            font-size: 18px;
                            font-weight: normal;

                            li {
                                width: 100%;
                                flex-direction: column;
                                gap: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
