<section
    class="user-profile"
    *ngIf="isProfilePageInitialized && userFromDB && userPosts"
>
    <div class="user-info">
        <div class="user-image-profile">
            <img [src]="userFromDB.imgUrl" alt="loggedin user" />
            <span>{{ userFromDB.fullName }}</span>
        </div>

        <div class="user-data">
            <div
                class="user-data-inner-container"
                [ngClass]="{
                    'no-edit-profile': userFromDB._id !== loggedInUser.uid
                }"
            >
                <div class="posts-count">
                    <span>{{ userPosts.length }}</span>
                    <span>Posts</span>
                </div>

                <div class="followers-count">
                    <span>{{ userFromDB.followedByUsers.length }}</span>
                    <span>Followers</span>
                </div>

                <div class="following-count">
                    <span>{{ userFromDB.followingUsers.length }}</span>
                    <span>Following</span>
                </div>
            </div>
            <div
                class="actions-profile"
                *ngIf="userFromDB._id === loggedInUser.uid"
            >
                <button
                    class="btn-edit-profile"
                    (click)="isEditProfileModalShown = true"
                >
                    Edit profile
                </button>
            </div>
        </div>
    </div>

    <div class="user-posts" *ngIf="userPosts.length; else noPosts">
        <article
            class="post-preview"
            *ngFor="let post of userPosts; trackBy: trackByPostId"
            (click)="isPostsModalShown = true"
        >
            <img
                [class]="post.filterSelected"
                [src]="post.imgUrl"
                alt="post-preview"
            />
        </article>
    </div>

    <ng-template #noPosts>
        <div class="no-posts">
            <p>No posts yet</p>
        </div>
    </ng-template>

    <posts-modal
        *ngIf="isPostsModalShown"
        [userPosts]="userPosts"
        (onClosePostsModal)="isPostsModalShown = false"
        (onToggleLike)="onToggleLike($event)"
        (onToggleFollow)="onToggleFollow($event)"
        (onAddNotification)="onAddNotification($event)"
        (onAddComment)="onAddComment($event)"
        (onAddReply)="onAddReply($event)"
        (onClickUserImg)="navigateToUserProfile($event)"
    ></posts-modal>

    <edit-profile-modal
        *ngIf="isEditProfileModalShown"
        [userFromDB]="userFromDB"
        (onBack)="isEditProfileModalShown = false"
        (onSubmitUserEdit)="onUpdateUserProfile($event)"
    ></edit-profile-modal>
</section>
