:host {
    li {
        display: flex;
        align-items: center;
        gap: 2em;

        img {
            max-width: 45px;
            border-radius: 50%;
            flex: 1;
            cursor: pointer;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        h4 {
            font-size: 12px;
            cursor: pointer;
            flex: 2;
            width: fit-content;
        }

        .btn-toggle-follow {
            cursor: pointer;
            border: none;
            background-color: rgb(0, 149, 246);
            color: whitesmoke;
            border-radius: 0.5em;
            padding-inline: 1.5em;
            height: 2.5em;
            font-size: 14px;
            font-weight: bolder;
            transition: all 0.2s ease-in-out;
            flex: 2;

            &.disabled {
                cursor: not-allowed;
            }

            &:hover {
                background-color: rgb(2, 132, 213);
            }

            &.following {
                background-color: rgba(85, 85, 85, 0.7);
            }
        }
    }
}
