:host {
    .chat-preview {
        display: flex;
        align-items: center;
        gap: 0.7em;

        img {
            width: 3.5em;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }

        .chat-content {
            font-size: 16px;
        }
    }
}
