:host {
    height: 100%;
    width: 100%;

    .create-post-page {
        height: 100%;
        width: 100%;

        .select-media {
            width: 100%;
            height: 100%;
            position: relative;

            #media-input {
                display: none;
                height: 100%;
                width: 100%;
            }

            .custom-media-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2em;
                height: 100%;
                width: 100%;
            }
        }

        .filter-media {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2em;

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn-back {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    svg {
                        line {
                            stroke: whitesmoke;
                        }
                        polyline {
                            stroke: whitesmoke;
                        }
                    }
                }

                .btn-next {
                    background-color: transparent;
                    color: rgb(0, 149, 246);
                    font-size: 17px;
                    font-weight: bolder;
                    border: none;
                    cursor: pointer;
                }
            }

            .media-preview {
                width: 100%;

                img {
                    object-fit: cover;
                    aspect-ratio: 1/1;

                    &.paris {
                        filter: contrast(1.1) brightness(1.2) saturate(1.3)
                            hue-rotate(10deg);
                    }

                    &.los-angeles {
                        filter: contrast(1.2) brightness(1.1) saturate(1.1)
                            hue-rotate(5deg);
                    }

                    &.oslo {
                        filter: contrast(1.3) brightness(0.9) saturate(1.1)
                            hue-rotate(-5deg);
                    }

                    &.abu-dhabi {
                        filter: contrast(1.2) brightness(1.1) saturate(1.2)
                            hue-rotate(15deg);
                    }

                    &.tokyo {
                        filter: contrast(1.1) brightness(1.1) saturate(1.1)
                            hue-rotate(-10deg);
                    }
                }
            }

            .filter-list {
                width: calc(100vw - 50px);
                display: flex;
                align-items: center;
                gap: 1em;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;

                .filter-preview {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.4em;
                    cursor: pointer;

                    &.active {
                        span {
                            color: whitesmoke;
                        }
                    }

                    span {
                        color: rgba(211, 211, 211, 0.41);
                        font-size: 12px;
                    }

                    img {
                        object-fit: cover;
                        width: 5em;
                        height: 5em;
                        aspect-ratio: 1/1;

                        &.paris {
                            filter: contrast(1.1) brightness(1.2) saturate(1.3)
                                hue-rotate(10deg);
                        }

                        &.los-angeles {
                            filter: contrast(1.2) brightness(1.1) saturate(1.1)
                                hue-rotate(5deg);
                        }

                        &.oslo {
                            filter: contrast(1.3) brightness(0.9) saturate(1.1)
                                hue-rotate(-5deg);
                        }

                        &.abu-dhabi {
                            filter: contrast(1.2) brightness(1.1) saturate(1.2)
                                hue-rotate(15deg);
                        }

                        &.tokyo {
                            filter: contrast(1.1) brightness(1.1) saturate(1.1)
                                hue-rotate(-10deg);
                        }
                    }
                }
            }
        }

        .form-media {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn-back {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    svg {
                        line {
                            stroke: whitesmoke;
                        }
                        polyline {
                            stroke: whitesmoke;
                        }
                    }
                }

                .btn-share {
                    background-color: transparent;
                    color: rgb(0, 149, 246);
                    font-size: 17px;
                    font-weight: bolder;
                    border: none;
                    cursor: pointer;
                }
            }

            form {
                display: flex;
                flex-direction: column;

                .content {
                    display: flex;
                    align-items: center;
                    gap: 0.7em;
                    height: 60px;

                    img {
                        height: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        flex: 1;
                    }

                    textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                        background-color: transparent;
                        flex: 4;
                        border: none;
                        color: whitesmoke;
                        font-size: 16px;
                        font-family: Arial, sans-serif;

                        &::placeholder {
                            color: rgba(245, 245, 245, 0.85);
                            font-style: italic;
                            font-size: 14px;
                            font-family: Arial, sans-serif;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}
