<section class="chat-details" *ngIf="isComponentInitialized">
    <div class="header">
        <button
            _ngcontent-ng-c135323571=""
            _ngcontent-ng-c994055254=""
            title="Back"
            class="btn-back"
            (click)="goBack()"
        >
            <svg
                _ngcontent-ng-c135323571=""
                _ngcontent-ng-c994055254=""
                aria-label="Back"
                fill="currentColor"
                height="24"
                role="img"
                viewBox="0 0 24 24"
                width="24"
                class="x1lliihq x1n2onr6 x5n08af"
            >
                <line
                    _ngcontent-ng-c135323571=""
                    _ngcontent-ng-c994055254=""
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    x1="2.909"
                    x2="22.001"
                    y1="12.004"
                    y2="12.004"
                ></line>
                <polyline
                    _ngcontent-ng-c135323571=""
                    _ngcontent-ng-c994055254=""
                    fill="none"
                    points="9.276 4.726 2.001 12.004 9.276 19.274"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                ></polyline>
            </svg>
        </button>
        <div class="participant-user">
            <img [src]="participantUser.imgUrl" alt="Participant" />
            <span>{{ participantUser.fullName }}</span>
        </div>
    </div>

    <message-list [chat]="chat"></message-list>
</section>
