:host {
    width: 100%;

    .chat-details {
        padding-block: 1.4em;
        width: 100%;

        .header {
            display: flex;
            align-items: center;
            gap: 1em;
            border-block-end: 1px solid rgba(245, 245, 245, 0.29);
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            background-color: black;
            height: 61px;
            padding-inline: 25px;

            .btn-back {
                background-color: unset;
                border: none;
                display: flex;
                align-items: center;

                svg {
                    line {
                        stroke: #fff;
                    }
                    polyline {
                        stroke: #fff;
                    }
                }
            }

            .participant-user {
                display: flex;
                align-items: center;
                gap: 0.4em;

                img {
                    width: 2em;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span {
                    font-size: 16px;
                    font-weight: bolder;
                }
            }
        }

        .add-message {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;
            position: fixed;
            left: 0;
            bottom: 0;
            background-color: black;
            height: 61px;
            width: 100%;
            padding-inline: 25px;
            border-block-start: 1px solid rgba(245, 245, 245, 0.24);
            z-index: 999;

            img {
                width: 2em;
                border-radius: 50%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            #message {
                width: 100%;
                height: 100%;
                background-color: unset;
                border: none;
                font-size: 16px;
                color: whitesmoke;
            }

            .btn-send {
                font-size: 16px;
                font-weight: bolder;
                background-color: unset;
                border: none;
                height: 100%;
                color: rgb(0, 149, 246);
            }
        }
    }
}
