<section class="chat-details" *ngIf="isComponentInitialized" #chatDetails>
    <div class="header">
        <button title="Back" class="btn-back" (click)="goBack()">
            <svg
                aria-label="Back"
                fill="currentColor"
                height="24"
                role="img"
                viewBox="0 0 24 24"
                width="24"
                class="x1lliihq x1n2onr6 x5n08af"
            >
                <line
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    x1="2.909"
                    x2="22.001"
                    y1="12.004"
                    y2="12.004"
                ></line>
                <polyline
                    fill="none"
                    points="9.276 4.726 2.001 12.004 9.276 19.274"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                ></polyline>
            </svg>
        </button>
        <div class="participant-user">
            <img [src]="participantUser.imgUrl" alt="Participant" />
            <span>{{ participantUser.fullName }}</span>
        </div>
    </div>

    <message-list
        [chat]="chat"
        [loggedInUserFromDB]="loggedInUserFromDB"
        [participantUser]="participantUser"
        (onScrollToBottom)="onScrollToBottom()"
    ></message-list>

    <form class="add-message" (ngSubmit)="onAddMessage()">
        <img [src]="loggedInUserFromDB.imgUrl" alt="loggedInUser" />
        <input
            [(ngModel)]="message.txt"
            type="text"
            name="message"
            id="message"
            placeholder="Message..."
        />
        <button class="btn-send">Send</button>
    </form>
</section>
