<div *ngIf="creator && isComponentInitialized" class="post-header">
    <div class="creator">
        <img [src]="creator.imgUrl" alt="creator" />
        <h5>
            {{ creator.fullName }}
            <span>• {{ post.createdAt | timeAgo }}</span>
        </h5>
    </div>

    <button
        class="btn-more-options"
        title="More options"
        (click)="isMoreOptionsModalShown = !isMoreOptionsModalShown"
    >
        <svg
            aria-label="More options"
            class="x1lliihq x1n2onr6"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="24"
            role="img"
            viewBox="0 0 24 24"
            width="24"
        >
            <circle cx="12" cy="12" r="1.5"></circle>
            <circle cx="6" cy="12" r="1.5"></circle>
            <circle cx="18" cy="12" r="1.5"></circle>
        </svg>

        <div class="more-options-modal" *ngIf="isMoreOptionsModalShown">
            <ul>
                <li
                    (click)="toggleFollow()"
                    *ngIf="creator._id !== loggedInUser!.user!.uid"
                >
                    {{ isFollowClicked ? "Following" : "Follow" }}
                </li>
            </ul>
        </div>
    </button>
</div>
