<section
    [class]="
        routerUrl === '/login' ? 'main-app login-layout' : 'main-app app-layout'
    "
>
    <router-outlet *ngIf="routerUrl === '/login'"></router-outlet>
    <app-header-mobile *ngIf="routerUrl !== '/login'"></app-header-mobile>
    <aside-menu *ngIf="routerUrl !== '/login'"></aside-menu>
    <main *ngIf="routerUrl !== '/login'" class="main-layout">
        <router-outlet></router-outlet>
    </main>
    <menu-mobile *ngIf="routerUrl !== '/login'"></menu-mobile>
</section>
