@import "../../../assets/setup/mixins";

:host {
    width: 100%;

    .message {
        display: flex;
        align-items: flex-end;
        gap: 0.6em;
        width: 100%;

        .message-with-no-post {
            display: flex;
            align-items: flex-end;
            gap: 0.6em;
            width: 100%;

            &.loggedInUser {
                flex-direction: row-reverse;

                .txt {
                    background: linear-gradient(
                        to left,
                        rgb(38, 38, 38),
                        rgb(49, 49, 49)
                    );
                }

                .time {
                    text-align: right;
                }
            }

            &.participant {
                .txt {
                    background: linear-gradient(
                        to right,
                        rgb(55, 151, 240),
                        rgb(100, 180, 255)
                    );
                }
            }

            img {
                width: 1.5em;
                border-radius: 50%;
                margin-block-end: 0.2em;
                object-fit: cover;
                aspect-ratio: 1/1;
                cursor: pointer;
            }

            .txt {
                border-radius: 1.4em;
                padding-inline: 1em;
                padding-block: 0.5em;
                font-size: 17px;
                overflow-wrap: break-word;
                max-width: 200px;

                @include for-narrow-layout {
                    max-width: 300px;
                }
            }

            .time {
                font-size: 11px;
                margin-block-end: 0.2em;
                display: flex;
                flex-wrap: wrap;
                max-width: 40px;
                text-align: left;
            }
        }

        .message-with-post {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            &.post-with-no-txt {
                flex-direction: row;
            }

            &.loggedInUser {
                align-items: end;

                .message-with-post-content {
                    flex-direction: row-reverse;

                    .txt {
                        background: linear-gradient(
                            to left,
                            rgb(38, 38, 38),
                            rgb(49, 49, 49)
                        );
                    }

                    .time {
                        text-align: right;
                    }
                }
            }

            &.participant {
                .txt {
                    background: linear-gradient(
                        to right,
                        rgb(55, 151, 240),
                        rgb(100, 180, 255)
                    );
                }
            }

            .post {
                border-radius: 10px;
                background-color: #333333;
                width: 60%;

                @media (min-width: 450px) {
                    width: 50%;
                }

                @media (min-width: 550px) {
                    width: 40%;
                }

                .header {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    padding-inline: 0.7em;
                    padding-block: 10px;
                    height: 45px;

                    img {
                        width: 30px;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    p {
                        font-size: 16px;
                        font-weight: bolder;
                        color: whitesmoke;
                    }
                }

                img {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .footer {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 0.5em;
                    padding-inline: 0.7em;
                    padding-block: 10px;

                    .creator-full-name {
                        margin-inline-start: -3px;
                        font-weight: bolder;
                    }

                    img {
                        width: 25px;
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }

            .time-date-for-post-with-no-txt {
                display: flex;
                align-items: end;

                .time {
                    font-size: 11px;
                    margin-block-end: 0.2em;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 40px;
                    text-align: left;
                }
            }

            .message-with-post-content {
                display: flex;
                align-items: flex-end;
                gap: 0.6em;
                width: 100%;

                img {
                    width: 1.5em;
                    border-radius: 50%;
                    margin-block-end: 0.2em;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                }

                .txt {
                    border-radius: 1.4em;
                    padding-inline: 1em;
                    padding-block: 0.5em;
                    font-size: 17px;
                    overflow-wrap: break-word;
                    max-width: 200px;

                    @include for-narrow-layout {
                        max-width: 300px;
                    }
                }

                .time {
                    font-size: 11px;
                    margin-block-end: 0.2em;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 40px;
                    text-align: left;
                }
            }
        }
    }
}
