<li
    class="message"
    [ngClass]="
        message.sentBy === loggedInUserFromDB._id
            ? 'loggedInUser'
            : 'participant'
    "
>
    <img
        [src]="
            message.sentBy === loggedInUserFromDB._id
                ? loggedInUserFromDB.imgUrl
                : participantUser.imgUrl
        "
        alt="user"
        *ngIf="message.sentBy !== loggedInUserFromDB._id"
    />
    <div class="txt">
        <p>{{ message.txt }}</p>
    </div>
    <div class="time">
        <p>{{ message.sentAt | formatTime }}</p>
    </div>
</li>
