<li class="message">
    <div
        class="message-with-no-post"
        *ngIf="!message.postId"
        [ngClass]="
            message.sentBy === loggedInUserFromDB._id
                ? 'loggedInUser'
                : 'participant'
        "
    >
        <img
            [src]="
                message.sentBy === loggedInUserFromDB._id
                    ? loggedInUserFromDB.imgUrl
                    : participantUser.imgUrl
            "
            alt="user"
            *ngIf="message.sentBy !== loggedInUserFromDB._id"
        />
        <div class="txt">
            <p>{{ message.txt }}</p>
        </div>
        <div class="time">
            <p>{{ message.sentAt | formatTime }}</p>
        </div>
    </div>

    <div
        class="message-with-post"
        *ngIf="post && postCreator$"
        [class]="
            message.sentBy === loggedInUserFromDB._id
                ? 'loggedInUser'
                : 'participant'
        "
        [ngClass]="{ 'post-with-no-txt': !message.txt }"
    >
        <div class="post">
            <div class="header">
                <img
                    [src]="
                        message.sentBy === loggedInUserFromDB._id
                            ? loggedInUserFromDB.imgUrl
                            : participantUser.imgUrl
                    "
                    alt="user"
                />

                <p>
                    {{
                        message.sentBy === loggedInUserFromDB._id
                            ? loggedInUserFromDB.fullName
                            : participantUser.fullName
                    }}
                </p>
            </div>

            <img [src]="post.imgUrl" alt="post" />

            <div class="footer">
                <img
                    *ngIf="postCreator$ | async as postCreator"
                    [src]="postCreator.imgUrl"
                    alt="user"
                />

                <p class="creator-full-name">{{ post.creatorFullName }}</p>
                <p class="post-content">
                    {{
                        post.content.length > 25
                            ? (post.content | slice: 0 : 25) + " ..."
                            : post.content
                    }}
                </p>
            </div>
        </div>

        <div class="time-date-for-post-with-no-txt" *ngIf="!message.txt">
            <div class="time">
                <p>{{ message.sentAt | formatTime }}</p>
            </div>
        </div>

        <div class="message-with-post-content" *ngIf="message.txt">
            <img
                [src]="
                    message.sentBy === loggedInUserFromDB._id
                        ? loggedInUserFromDB.imgUrl
                        : participantUser.imgUrl
                "
                alt="user"
                *ngIf="message.sentBy !== loggedInUserFromDB._id"
            />
            <div class="txt">
                <p>{{ message.txt }}</p>
            </div>
            <div class="time">
                <p>{{ message.sentAt | formatTime }}</p>
            </div>
        </div>
    </div>
</li>
