@import "../../../assets/setup/mixins";

:host {
    width: 100%;

    .message {
        display: flex;
        align-items: flex-end;
        gap: 0.6em;
        width: 100%;

        img {
            width: 1.5em;
            border-radius: 50%;
            margin-block-end: 0.2em;
            cursor: pointer;
        }

        .txt {
            border-radius: 1.4em;
            padding-inline: 1em;
            padding-block: 0.5em;
            font-size: 17px;
            overflow-wrap: break-word;
            max-width: 200px;

            @include for-narrow-layout {
                max-width: 300px;
            }
        }

        .time {
            font-size: 11px;
            margin-block-end: 0.2em;
        }

        &.loggedInUser {
            flex-direction: row-reverse;

            .txt {
                background: linear-gradient(
                    to left,
                    rgb(38, 38, 38),
                    rgb(49, 49, 49)
                );
            }
        }

        &.participant {
            .txt {
                background: linear-gradient(
                    to right,
                    rgb(55, 151, 240),
                    rgb(100, 180, 255)
                );
            }
        }
    }
}
